<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Rewrite domain requests" stopProcessing="true" enabled="true">
				  <match url="(.*)" />
				  <conditions>
					<add input="{HTTP_HOST}" pattern="^(www.)?([.a-zA-Z0-9]+)$" />
					<add input="{HTTP_HOST}" pattern="^www\.ionutdanila\.com$" negate="true" />
				  </conditions>
				  <action type="Redirect" url="https://www.ionutdanila.com/{R:1}" redirectType="Permanent" appendQueryString="true" />
				</rule>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
